<main>
    <div class="result">
        <h3>今日はコレクエ!!</h3>
        <h1><%= @korekue['name'] %></h1>
        <h2><%= "住所: #{@korekue['vicinity']}" %></h2>
    </div>
    <a href="show" class="btn">コレクエ</a>
</main>