// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 600px〜959px:タブレット
@media screen and (min-width:600px) and (max-width:959px) {
    header {
        margin-left: 30px !important;
    }
    
    main h1 {
        font-size: 27px;
    }

    .result h1 {
        font-size: 29px;
    }

    .result h2 {
        font-size: 21px;
    }

    .result h3 {
        font-size: 30px !important;
    }

    .btn {
        font-size: 37px;
        padding: 40px 120px !important;
    }

}

// 480px〜599px:スマートフォン横
@media screen and (min-width:480px) and (max-width:599.999px) {
    header {
        margin-left: 28px !important;
    }
    
    header h1 {
        font-size: 20px;
    }

    header h3 {
        font-size: 11px;
    }
    
    main h1 {
        font-size: 22px;
    }
    
    .result h1 {
        font-size: 24px;
    }

    .result h2 {
        font-size: 17px;
    }

    .result h3 {
        font-size: 24px !important;
    }

    .btn {
        font-size: 30px;
        padding: 35px 105px !important;
    }
}

// 〜479px:スマートフォン縦
@media screen and (max-width:479.999px) {
    header {
        margin-left: 22px !important;
    }
    
    header h1 {
        font-size: 17px;
    }

    header h3 {
        font-size: 9px;
    }
    
    main h1 {
        font-size: 17px;
    }
    
    .result h1 {
        font-size: 20px !important;
    }

    .result h2 {
        font-size: 13px;
    }

    .result h3 {
        font-size: 20px !important;
    }

    .btn {
        font-size: 26px !important;
        padding: 25px 85px !important;
    }
}

body {
    background-color: rgb(248, 227, 202);
}

header {
    height: 150px;
    margin-left: 50px;
}

header h1 {
    font-family: 'Dela Gothic One', 'Carter One', cursive;
    color: rgb(233, 112, 25);
    letter-spacing: .1em;
    -webkit-text-stroke: 1px  darken(rgb(233, 112, 25), 10%);
    margin-bottom: 5px;

}

header h3 {
    margin-top: 0px;
}

main {
    text-align: center;
    margin-top: 50px;
}

main h1 {
    margin-bottom: 100px;
    padding-top: 30px;
    line-height: 2.0;
}

.btn {
    display: inline-block;
    color: white;
    font-size: 40px;
    font-family: 'Dela Gothic One', 'Carter One', cursive;
    border-radius: 60px;
    text-decoration: none;
    padding: 70px 150px;
    background-color: rgb(233, 112, 25);
    cursor: pointer;
    box-shadow: 0 10px 0 darken(rgb(233, 112, 25), 10%);
}

.btn:hover {
    box-shadow: none;
    transform: translateY(10px);
}

.result h1 {
    margin-bottom: 20px;
}

.result h3 {
    letter-spacing: 5px;
    font-size: 35px;
    font-family: 'Dela Gothic One', 'Carter One', cursive;
}